*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form-validation{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: antiquewhite;
}
.form-validation p{
    color: red;
}